<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laimaiyao">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/drugstore"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/drugstore"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".setttings.AddressManagementActivity"></activity>
        <activity android:name=".setttings.UserInfoActivity" />
        <activity android:name=".product.BrowsingHistoryActivity" />
        <activity android:name=".product.WishListActivity" />
        <activity android:name=".product.ProductListActivity" />
        <activity android:name=".order.OrderCommentActivity" />
        <activity android:name=".order.OrderDetailActivity" />
        <activity android:name=".order.OrderListActivity" />
        <activity android:name=".order.OrderConfirmationAcitivty" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".setttings.SettingsActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.ForgetPasswordActivity" />
        <activity android:name=".login.RegisterActivity" />
        <activity
            android:name=".login.LoginActivity"
            android:label="登录" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="101549286" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>